.site{
  display: flex;
}

.split1{
  flex: 50%;
}

.grid-overall{
  position: relative;
  display: grid;
  flex-direction: row;
  grid-template-columns: repeat(5, 2em);
  border: 3px solid grey;
  border-radius: 7px;
  align-self: centered;
  width: 10em;
  left: 29.5em;
  top: 3em;
}

p{
  font-size: 20px;
  width: 1.6em;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  cursor: pointer;
}

p:hover{
  background-color: green;
}


h1{
  position: relative;
  font-size: 40px;
  left: 50%;
  top: 0.5em;
  width: 45%;  
  margin: 0;
}

.container{
  position: relative;
  display: grid;
  margin-top: 50px;
}

.edited_square{
  background-color: #d3d3d3;
}

.edited_square:hover{
  background-color: gray;
}

.clear-button{
  position: relative;
  left: 49.6%;
  top: 6em;
  text-align: center;
  border: 2px solid gray;
  border-radius: 7px;
  background-color: white;
  height: 2em;
  margin: auto;
  cursor: pointer;
}

.clear-button:focus{
  border: 2px solid black;
}
